<div class="esh-orders_detail">
    <div class="esh-orders_detail-header">
        <div class="container">
            <a class="esh-orders-back" routerLink="/orders">Back to list</a>
        </div>
    </div>

    <div class="container">
        <div class="aaaaaaaa">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-3">Order number</section>
                <section class="esh-orders_detail-title col-xs-3">Date</section>
                <section class="esh-orders_detail-title col-xs-3">Total</section>
                <section class="esh-orders_detail-title col-xs-3">Status</section>
            </article>

            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-2">{{order.ordernumber}}</section>
                <section class="esh-orders_detail-item col-xs-4">{{order.date | date:'short'}}</section>
                <section class="esh-orders_detail-item col-xs-2">$ {{order.total}}</section>
                <section class="esh-orders_detail-item col-xs-2">{{order.status}}</section>
            </article>
        </div>

        <div class="bbbbb">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-3">Shipig address</section>
            </article>

            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-3">{{order.street}}</section>
            </article>

            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-4">{{order.city}}</section>
            </article>

            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-2">{{order.country}}</section>
            </article>
        </div>

        <div class="ccccc">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-3">Order details</section>
            </article>

            <article class="esh-orders_detail-items row"
                     *ngFor="let item of order.orderitems">
                <section class="esh-orders_detail-item col-xs-4">
                    <img class="esh-orders-detail-image" src="{{item.pictureurl}}">
                </section>
                <section class="esh-orders_detail-item col-xs-2">{{item.productname}}</section>
                <section class="esh-orders_detail-item col-xs-2">$ {{item.unitprice}}</section>
                <section class="esh-orders_detail-item col-xs-2">{{item.units}}</section>
                <section class="esh-orders_detail-item col-xs-2">$ {{item.units * item.unitprice}}</section>
            </article>
        </div>

        <div class="ddddddd">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-9"></section>
                <section class="esh-orders_detail-title col-xs-3">Total</section>
            </article>

            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-9"></section>
                <section class="esh-orders_detail-item col-xs-3">$ XX</section>
            </article>
        </div>
    </div>
</div>
