@import '../../_variables.scss';

.esh-orders_detail {
    min-height: 80vh;

    $header-height: 4rem;
    &-header {
        background-color: #00A69C;
        height: $header-height;
    }

    &-back {
        color: rgba($color-foreground-brighter, .4);
        line-height: $header-height;
        text-transform: uppercase;
        text-decoration: none;
        transition: color $animation-speed-default;

        &:hover {
            color: $color-foreground-brighter;
            transition: color $animation-speed-default;
        }
    }

    &-section {
        padding: 1rem 0;
    }

    &-titles {
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    &-title {
        font-size: $font-size-l;
    }

    &-item {
        font-weight: $font-weight-semilight;
    }

    &-image {
        max-width: 210px;
        min-width: 80px;
        width: 100%;

        @media screen and (max-width: $media-screen-s) {
            display: none;
        }
    }
}
