$primary-colour: #00A69C;
$primary-accent: #83D01B;

$white-colour: #FFFFFF;
$grey-colour: #E2E2E2;
$text-colour: #757575;

$grey-box-shadow: 10px 10px 20px #F2F2F2;
$grey-box-border: 1px solid #DDDDDD;