@import './_variables.scss';

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.eot?") format("eot"),url("../fonts/Montserrat-Regular.woff") format("woff"),url("../fonts/Montserrat-Regular.ttf") format("truetype"),url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg")
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.eot?") format("eot"),url("../fonts/Montserrat-Bold.woff") format("woff"),url("../fonts/Montserrat-Bold.ttf") format("truetype"),url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg")
}

.app {
    font-family: Montserrat,sans-serif;

    &-footer {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        border-top: 1px solid #eee;
        background-color: black;
        width: 100%;

        &-brand {
            margin-top: 25px;
            max-width: 231px;
            height: 52px;
            margin-left: 0px !important;
        }

        &-text {
            text-align: right;
            width: 100%;
            height: 100%;
            color: #83d01b;
            margin-top: 10px;
        }
    }
}



