.btn {
  background-color: transparent;
  border-width: 3px;
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  min-width: 15rem;
  text-transform: uppercase;

  &:focus {
      box-shadow: none;
      opacity: .7;
  }

  &:hover {
    color: $color-brightest !important;
  }

  &:active:focus {
    box-shadow: none !important;
  }

  &:visited {
    text-decoration: none;
  }

  &:disabled {
    background-color: transparent;
    border-color: $color-secondary-bright;
    color: $color-secondary-bright;
    cursor: not-allowed;
    opacity: 1;
  }

  &-primary {
    border-color: $color-primary;
    color: $color-primary;
  }

  &-secondary {
    border-color: $color-secondary;
    color: $color-secondary;
  }
}