@import 'src/styles/variables';

.esh-orders_new {

    &-titles {
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    &-item {
        font-size: $font-size-m;
        font-weight: $font-weight-semilight;
    }

    &-thumbnail-container {
        width: 10rem;
    }

    &-thumbnail-wrapper {
        background-color: #dbdede;
        height: 0;
        overflow: hidden;
        padding-top: 100%;
        position: relative;
    }

    &-thumbnail {
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: auto;
    }

    &-coupon {
        width: 15rem;
    }

    &-buttons {
        margin-top: 5rem;
    }
}
