.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
*.md
hosts
LICENSE
*.testsettings
vsts-docs
ServiceFabric
readme
k8s
img
docs
deploy
Components
cli-windows
cli-mac
cli-linux
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/*
global.json
**/appsettings.localhost.json
src/Web/WebSPA/wwwroot/
packages/
csproj-files/
test-results/
TestResults/
src/Mobile/
src/Web/Catalog.WebForms/
src/Web/WebMonolithic/
src/BuildingBlocks/CommandBus/
src/Services/Marketing/Infrastructure/