version: '2.1'

services:
  basket.api:
    image: eshop/basket.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Basket/Basket.API
      dockerfile: Dockerfile
    depends_on:
      - basket.data
      - identity.api
      - rabbitmq

  catalog.api:
    image: eshop/catalog.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Catalog/Catalog.API
      dockerfile: Dockerfile
    depends_on:
      - sql.data
      - rabbitmq

  identity.api:
    image: eshop/identity.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Identity/Identity.API
      dockerfile: Dockerfile
    depends_on:
      - sql.data

  ordering.api:
    image: eshop/ordering.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Ordering/Ordering.API
      dockerfile: Dockerfile
    depends_on:
      - sql.data
      - rabbitmq

  marketing.api:
    image: eshop/marketing.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Marketing/Marketing.API
      dockerfile: Dockerfile    
    depends_on:
      - sql.data
      - nosql.data
      - identity.api
      - rabbitmq      

  webspa:
    image: eshop/webspa-win:${TAG:-latest}
    build:
      context: ./src/Web/WebSPA
      dockerfile: Dockerfile
    depends_on:
      - catalog.api
      - ordering.api
      - identity.api
      - basket.api
      - marketing.api

  webmvc:
    image: eshop/webmvc-win:${TAG:-latest}
    build:
      context: ./src/Web/WebMVC
      dockerfile: Dockerfile
    depends_on:
      - catalog.api
      - ordering.api
      - identity.api
      - basket.api
      - marketing.api
  
  webstatus:
    image: eshop/webstatus-win:${TAG:-latest}
    build:
      context: ./src/Web/WebStatus
      dockerfile: Dockerfile

  payment.api:
    image: eshop/payment.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Payment/Payment.API
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq         

  locations.api:
    image: eshop/locations.api-win:${TAG:-latest}
    build:
      context: ./src/Services/Location/Locations.API
      dockerfile: Dockerfile
    depends_on:
      - nosql.data
      - rabbitmq

  sql.data:
    image: microsoft/mssql-server-windows
  
  nosql.data:
    image: mongo:windowsservercore

  basket.data:
    image: redis:nanoserver
    ports:
        - "6379:6379"

  rabbitmq:
    image: spring2/rabbitmq
    ports:
      - "15672:15672"    
      - "5672:5672"

networks:
  default:
    external:
      name: nat

