@import './variables';

.esh-app {
    &-footer {
        $margin: 2.5rem;
        $padding: 2.5rem;

        background-color: $color-background-darker;
        border-top: $border-light solid $color-foreground-bright;
        margin-top: $margin;
        padding-bottom: $padding;
        padding-top: $padding;
        width: 100%;

        $height: 50px;

        &-brand {
            height: $height;
            width: 230px;
        }

    }
}
