
@model IEnumerable<Microsoft.eShopOnContainers.WebMVC.ViewModels.Header>

<div class="esh-header">
    <div class="container">
        @foreach (var header in @Model)
        {
            <a class="esh-header-back" asp-area="" asp-controller="@header.Controller" asp-action="Index">@header.Text</a>
        }
    </div>
</div>
