@model Microsoft.eShopOnContainers.WebMVC.Models.Header

<div class="esh-header">
    <div class="container">
        <a class="esh-header-back" asp-area="" asp-controller="@Model.Controller" asp-action="Index">@Model.Text</a>
    </div>
</div>
