@using Microsoft.AspNetCore.Identity
@using Microsoft.eShopOnContainers.WebMVC.Models
@using Microsoft.eShopOnContainers.WebMVC.Services

@inject IIdentityParser<ApplicationUser> UserManager

@if(Context.User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
        <div class="nav navbar-nav navbar-right mt-15">
            @await Component.InvokeAsync("Cart", new { user = UserManager.Parse(User) })
            <div class="fr login-user">
                <span class="hidden-xs">@User.FindFirst(x => x.Type == "preferred_username").Value</span>
                <i class="down-arrow"></i>
                <div class="login-user-dropdown-content">
                    <a asp-controller="Order" asp-action="Index">MY ORDERS<i class="myorders-icon"></i></a>
                    <a href="javascript:document.getElementById('logoutForm').submit()">LOG OUT<i class="logout-icon"></i></a>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" class="btn-login" asp-action="SignIn">&nbsp;Log In&nbsp;</a></li>
    </ul>
}
