<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="monoandroid70" />
  <package id="Acr.UserDialogs" version="6.3.3" targetFramework="monoandroid70" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid70" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="monoandroid70" />
  <package id="IdentityModel" version="1.3.1" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="monoandroid70" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid70" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid70" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="monoandroid70" />
  <package id="SlideOverKit" version="2.1.4" targetFramework="monoandroid70" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid70" />
  <package id="System.Collections" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Globalization" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.IO" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.Linq" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="monoandroid70" />
  <package id="System.Reflection" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="monoandroid70" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="monoandroid70" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="monoandroid70" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="monoandroid70" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="monoandroid70" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Settings" version="2.6.0.12-beta" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.FFImageLoading" version="2.2.6-pre-256" targetFramework="monoandroid70" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.6-pre-256" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms.Pages" version="2.3.3.175" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="monoandroid70" />
</packages>