<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>eShopOnContainers - Identity</title>

    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="es-header">
        <div class="container">
            <article class="d-flex align-content-center justify-content-between">
                <section>
                    <img class="es-header-brand" src="~/images/logo_color.svg">
                </section>
            </article>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <article class="d-flex w-100 h-100 justify-content-between align-items-center">
                <section>
                    <img class="footer-brand" src="~/images/logo.svg">
                </section>
                <section> © eShopOnContainers. All rights reserved </section>
            </article>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
