<div class="esh-identity">
    <section class="esh-identity-section"
             *ngIf="!authenticated">
        <div class="esh-identity-item"
             (click)="login()">

            <div class="esh-identity-name esh-identity-name--upper">Login</div>
        </div>
    </section>

    <section class="esh-identity-section"
         *ngIf="authenticated">

        <div class="esh-identity-name">{{userName}}</div>
        <img class="esh-identity-image" src="assets/images/arrow-down.png">
    </section>

    <section class="esh-identity-drop"
             *ngIf="authenticated">

        <div class="esh-identity-item"
             [routerLink]="['orders']">

            <div class="esh-identity-name esh-identity-name--upper">My orders</div>
            <img class="esh-identity-image" src="assets/images/my_orders.png">
        </div>

        <div class="esh-identity-item"
             [routerLink]="['campaigns']">

            <div class="esh-identity-name esh-identity-name--upper">My campaigns</div>
            <img class="esh-identity-image" src="assets/images/my_orders.png">
        </div>

        <div class="esh-identity-item"
             (click)="logoutClicked($event)">

            <div class="esh-identity-name esh-identity-name--upper">Log Out</div>
            <img class="esh-identity-image" src="assets/images/logout.png">
        </div>
    </section>
</div>
