@model Microsoft.eShopOnContainers.WebMVC.Models.Order

@{
    ViewData["Title"] = "My Cart";
}

@foreach (var item in Model.OrderItems)
{
    <tr>
        <td class="cart-product-column"><img class="cart-product-image"src="@item.PicsUrl" /></td>
        <td>@item.ProductName</td>
        <td>ROSLYN</td>
        <td>$&nbsp;@item.UnitPrice</td>
        <td>@item.Quantity</td>
        <td>$&nbsp;@(item.Quantity * item.UnitPrice)</td>
    </tr>
}



