<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Moq" version="4.6.38-alpha" targetFramework="net452" />
  <package id="xunit" version="2.2.0-beta4-build3444" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.assert" version="2.2.0-beta4-build3444" targetFramework="net452" />
  <package id="xunit.core" version="2.2.0-beta4-build3444" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.2.0-beta4-build3444" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.2.0-beta4-build3444" targetFramework="net452" />
</packages>