<div class="container">
    <div class="catalog-banner">
        <img class="catalog-banner-image" src="../../images/main_banner.png" />
        <div class="container">
            <img src="../../images/main_banner_text.png" class="catalog-banner-text" />
        </div>
    </div>
    <div class="catalog-filter">
        <div class="catalog-filter-container">
            <div class="container">
                <div data-name="brand" class="catalog-filter-wrapper">
                    <select class="catalog-filter-select" (change)="onBrandFilterChanged($event, $event.target.value)">
                        <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brand}}</option>
                    </select>
                </div>
                <div data-name="type" class="catalog-filter-wrapper">
                    <select class="catalog-filter-select" (change)="onTypeFilterChanged($event, $event.target.value)">
                        <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
                    </select>
                </div>
                <button class="catalog-filter-button" (click)="onFilterApplied($event)">
                    <img src="../../images/arrow-right.svg">
                </button>
            </div>
        </div>
    </div>
    <esh-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></esh-pager>
    <div class="catalog-content row">
        <div class="col-md-4 catalog-content-item" *ngFor="let item of catalog?.data">
            <img src="{{item.pictureUri}}" />
            <button (click)="addToCart(item)" class="catalog-content-item-button">[ ADD TO CART ]</button>
            <div class="catalog-content-item-title">
                <span>{{item.name}}</span>
            </div>
            <div class="catalog-content-item-price">
                <span>{{item.price}}</span>
            </div>
        </div>
    </div>
    <esh-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></esh-pager>
</div>