<div class="catalog-banner">
    <img class="catalog-banner-image" src="../../images/main_banner.png" />
    <div class="container">
        <img src="../../images/main_banner_text.png" class="catalog-banner-text" />
    </div>
</div>
<div class="catalog-filter">
    <div class="catalog-filter-container">
        <div class="container">
            <select>
                <option>Opción 1</option>
                <option>Opción 2</option>
            </select>
            <select>
                <option>Opción 1</option>
                <option>Opción 2</option>
            </select>
        </div>
    </div>
</div>
<div class="catalog-content row">
    <div class="col-md-4 catalog-content-item">
        <img src="https://fakeimg.pl/370x240/EEEEEE/000/?text=RoslynRedT-Shirt"/>
        <button class="catalog-content-item-button">[ ADD TO CART ]</button>
    </div>
    <div class="col-md-4 catalog-content-item">
        <img src="https://fakeimg.pl/370x240/EEEEEE/000/?text=RoslynRedT-Shirt" />
        <button class="catalog-content-item-button">[ ADD TO CART ]</button>
    </div>
    <div class="col-md-4 catalog-content-item">
        <img src="https://fakeimg.pl/370x240/EEEEEE/000/?text=RoslynRedT-Shirt" />
        <button class="catalog-content-item-button">[ ADD TO CART ]</button>
    </div>
    <div class="col-md-4 catalog-content-item">
        <img src="https://fakeimg.pl/370x240/EEEEEE/000/?text=RoslynRedT-Shirt" />
        <button class="catalog-content-item-button">[ ADD TO CART ]</button>
    </div>
    <div class="col-md-4 catalog-content-item">
        <img src="https://fakeimg.pl/370x240/EEEEEE/000/?text=RoslynRedT-Shirt" />
        <button class="catalog-content-item-button">[ ADD TO CART ]</button>
    </div>
</div>