@import '../_variables.scss';

select::-ms-expand {
    display: none;
}

.catalog {
    &-banner {
        height: 258px;
        vertical-align: middle;

        &-image {
            width: 100%;
            position: absolute;
            left: 0;
            height: 258px;
        }

        &-text {
            position: relative;
            top: 75px;
        }
    }

    &-filter {
        height: 65px;

        &-container {
            position: absolute;
            width: 100%;
            background-color: $color-brand;
            left: 0;
            height: 65px;
        }

        &-button {
            width: 45px;
            height: 45px;
            padding: 6px 20px 10px 8px;
            background-color: $color-secondary;
            color: white;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            position: absolute;
        }

        &-select {
            background-color: transparent;
            padding: 10px;
            margin: 10px;
            margin-right: 20px;
            color: #fff;
            padding-top: 20px;
            padding-bottom: 3px;
            min-width: 140px;
            border-color: #37c7ca;
            max-height: 43px;
            -webkit-appearance: none;

            & option {
                background-color: #00a69c;
            }
        }

        &-wrapper {
            z-index: 0;
            display: inline-block;
            margin-left: -10px;
        }

        &-wrapper::before {
            content: attr(data-name);
            opacity: 0.5;
            z-index: 1;
            text-transform: uppercase;
            position: absolute;
            font-size: 10px;
            margin-top: 15px;
            margin-left: 21px;
            color: white;
        }
    }

    &-content {
        margin-top: 10px;

        &-item {
            text-align: center;
            margin-bottom: 20px;

            &-image {
            }

            &-button {
                width: 255px;
                height: 45px;
                padding: 10px 20px 10px 20px;
                background-color: $color-secondary;
                color: white;
                font-size: 16px;
                margin: 10px 0;
                border: none;
                cursor: pointer;
            }

            &-title {
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
            }

            &-price {
                text-align: center;
                font-weight: 900;
                font-size: 28px;
            }

            &-price::before {
                content: '$';
            }
        }
    }
}
