@import '../variables';

.esh-catalog {

    $banner-height: 260px;
    &-hero {
        background-image: url('../../images/main_banner.png');
        background-size: cover;
        height: $banner-height;
        width: 100%;
    }

    &-title {
        position: relative;
        top: $banner-height / 3.5;
    }

    $filter-height: 65px;
    &-filter {
        height: $filter-height;

        &-container {
            background-color: $color-brand;
            height: $filter-height;
            left: 0;
            position: absolute;
            width: 100%;
        }

        &-button {
            width: 45px;
            height: 45px;
            padding: 6px 20px 10px 8px;
            background-color: $color-secondary;
            color: white;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            position: absolute;
        }

        &-select {
            background-color: transparent;
            padding: 10px;
            margin: 10px;
            margin-right: 20px;
            color: #fff;
            padding-top: 20px;
            padding-bottom: 3px;
            min-width: 140px;
            border-color: #37c7ca;
            max-height: 43px;
            -webkit-appearance: none;

            & option {
                background-color: #00a69c;
            }
        }

        &-wrapper {
            z-index: 0;
            display: inline-block;
            margin-left: -10px;
        }

        &-wrapper::before {
            content: attr(data-name);
            opacity: 0.5;
            z-index: 1;
            text-transform: uppercase;
            position: absolute;
            font-size: 10px;
            margin-top: 15px;
            margin-left: 21px;
            color: white;
        }
    }

    &-content {
        margin-top: 10px;

        &-item {
            text-align: center;
            margin-bottom: 20px;

            &-image {
            }

            &-button {
                width: 255px;
                height: 45px;
                padding: 10px 20px 10px 20px;
                background-color: $color-secondary;
                color: white;
                font-size: 16px;
                margin: 10px 0;
                border: none;
                cursor: pointer;
            }

            &-title {
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
                /*margin-top: 20px;*/
            }

            &-price {
                text-align: center;
                font-weight: 900;
                font-size: 28px;
            }

            &-price::before {
                content: '$';
            }
        }
    }
}
