<div class="catalog-banner">
    <img class="catalog-banner-image" src="../../images/main_banner.png" />
    <div class="container">
        <img src="../../images/main_banner_text.png" class="catalog-banner-text" />
    </div>
</div>
<div class="catalog-filter">
    <div class="catalog-filter-container">
        <div class="container">
            <select (change)="onBrandFilterChanged($event, $event.target.value)">
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brand}}</option>
            </select>
            <select (change)="onTypeFilterChanged($event, $event.target.value)">
                <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
            </select>
        </div>
        <button class="" (click)="onFilterApplied($event)">Apply</button>
    </div>
</div>
<esh-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></esh-pager>
<div class="catalog-content row">
    <div class="col-md-4 catalog-content-item" *ngFor="let item of catalog?.data">
        <img src="{{item.pictureUri}}"/>
        <button class="catalog-content-item-button">[ ADD TO CART ]</button>
    </div>
</div>
<esh-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></esh-pager>