<div class="esh-basket">
    <esh-header url="/catalog">Back to catalog</esh-header>

    <div class="container">
        <div *ngFor="let errorMessage of errorMessages">
            <div class="esh-basket-items-margin-left1 row">
                <div class="alert alert-warning" role="alert">&nbsp;{{errorMessage}}</div>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <section class="esh-basket-title col-xs-3">Product</section>
                        </th>
                        <th scope="col">
                            <section class="esh-basket-title col-xs-3 hidden-lg-down"></section>
                        </th>
                        <th scope="col">
                            <section class="esh-basket-title col-xs-2">Price</section>
                        </th>
                        <th scope="col">
                            <section class="esh-basket-title col-xs-2">Quantity</section>
                        </th>
                        <th scope="col">
                            <section class="esh-basket-title col-xs-2">Cost</section>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of basket?.items">
                        <th scope="row">
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down">
                                <img class="esh-basket-image" src="{{item.pictureUrl}}" />
                            </section>
                        </th>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2">{{item.productName}}</section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2">$ {{item.unitPrice | number:'.2-2'}}</section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2">
                                <input id="quantity" class="esh-basket-input" type="number" min="1" [(ngModel)]="item.quantity" (change)="itemQuantityChanged(item)" />
                            </section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle esh-basket-item--mark col-xs-2">$ {{(item.unitPrice * item.quantity) | number:'.2-2'}}</section>
                        </td>
                        <div class="esh-basket-items-margin-left1 row">
                            <div class="alert alert-warning" role="alert" *ngIf="item.oldUnitPrice > 0">&nbsp;Note that the price of this article changed in our Catalog. The old price when you originally added it to the basket was $ {{item.oldUnitPrice}} </div>
                        </div>
                    </tr>
                    <tr>
                        <th scope="row">
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down"></section>
                        </th>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-title col-xs-2">Total</section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down"></section>
                        </th>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-item esh-basket-item--mark col-xs-2">$ {{totalPrice | number:'.2-2'}}</section>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down"></section>
                        </th>
                        <td>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2"></section>
                        </td>
                        <td>
                            <section class="esh-basket-item col-xs-2">
                                <button class="btn esh-basket-checkout" (click)="update($event)">[ Update ]</button>
                            </section>
                        </td>
                        <td colspan="2">
                            <section class="esh-basket-item col-xs-4">
                                <button class="btn esh-basket-checkout" (click)="checkOut($event)">[ Checkout ]</button>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>