@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<CatalogItem>
}

@foreach (var catalogItem in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@catalogItem.Name</h3>
        </div>
        <div class="panel-body">
            @catalogItem.Description
        </div>
    </div>
}