<!--{{f.controls[control.key]  | json}}-->
<div #f="ngForm" [formGroup]="form" [ngSwitch]="control.type" class="form-group {{control.class}}" [class.has-danger]="invalid"
    [class.has-success]="valid" [class.form-check]="control.type === 'checkbox'">

    <label *ngSwitchCase="'dropdown'" [attr.for]="control.key" class="col-form-label">{{control.label}}</label>
    <select *ngSwitchCase="'dropdown'" [id]="control.key" [formControlName]="control.key" [class.form-control-success]="valid"
        [class.form-control-danger]="invalid" class="form-control">
            <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <label *ngSwitchCase="'checkbox'" [attr.for]="control.key" class="form-check-label">
    <input #ck *ngSwitchCase="'checkbox'" (change)="control.value = ck.checked" [id]="control.key" [formControlName]="control.key"
        [type]="control.type" class="form-check-input">
        {{control.label}}
    </label>

    <!--This is not the switch case because of multiple control types-->
    <label *ngIf="control.type === 'textbox' || control.type === 'email' || control.type === 'password'" [attr.for]="control.key" class="col-form-label">{{control.label}}</label>
    <input *ngIf="control.type === 'textbox' || control.type === 'email' || control.type === 'password'" [id]="control.key" [formControlName]="control.key" [type]="control.type"
        [placeholder]="control.placeholder" [class.form-control-success]="valid" [class.form-control-danger]="invalid" class="form-control">



    <appc-control-error-message [form]="f" [control]="control"></appc-control-error-message>

</div>