@model Microsoft.eShopOnContainers.WebMVC.ViewModels.CartViewModels.CartComponentViewModel

@{
    ViewData["Title"] = "My Cart";
}

<a class="esh-basketstatus @Model.Disabled"
   asp-area="" 
   asp-controller="Cart" 
   asp-action="Index">    
    @if (ViewBag.IsBasketInoperative == true)
    {
        <div class="esh-basketstatus-image">
            <img src="~/images/cart-inoperative.png" />            
        </div>
        <div class="esh-basketstatus-badge-inoperative">
            X           
        </div>        
    }
    else
    {
        <div class="esh-basketstatus-image">
            <img src="~/images/cart.png" />
        </div>
        <div class="esh-basketstatus-badge">
            @Model.ItemsCount
        </div>
    }       
</a>




