@model Microsoft.eShopOnContainers.WebMVC.Models.Order

@{
    ViewData["Title"] = "My Cart";
}

<a asp-area="" asp-controller="Order" asp-action="Cart"><img src="~/images/cart.PNG" class="layout-cart-image hidden-xs"></a>



