@import 'src/styles/variables';

.esh-header {
    $header-height: 4rem;

    background-color: $color-primary;
    height: $header-height;

    &-back {
        color: rgba($color-brightest, .5);
        line-height: $header-height;
        text-decoration: none;
        text-transform: uppercase;
        transition: color $animation-speed-default;

        &:hover {
            color: $color-brightest;
            transition: color $animation-speed-default;
        }
    }
}
