<div class="row">
    <div class="col-xs-4">
        <nav>
            <ul>
                <li class="page-item">
                    <span class="text previous" id="Previous"
                       (click)="onPreviousCliked($event)"
                       aria-label="Previous">
                        Previous
                    </span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-4 u-align-center"><span>Showing {{model?.itemsPage}} of {{model?.totalItems}} products - Page {{model?.actualPage}} - {{model?.totalPages}}</span></div>
    <div class="col-xs-4">
        <nav>
            <ul>
                <li class="page-item">
                    <span class="text next" id="Next"
                       (click)="onNextClicked($event)"
                       aria-label="Next">
                        Next
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>