<div class="row pager">
    <div class="col-xs-4">
        <nav>
            <ul>
                <li class="page-item">
                    <span class="pager-text pager-previous" id="Previous"
                       [hidden]="buttonStates?.previousDisabled"
                       (click)="onPreviousCliked($event)"
                       aria-label="Previous">
                        Previous
                    </span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-4 u-align-center"><span>Showing {{model?.items}} of {{model?.totalItems}} products - Page {{model?.actualPage + 1}} - {{model?.totalPages}}</span></div>
    <div class="col-xs-4">
        <nav>
            <ul>
                <li class="page-item">
                    <span class="pager-text pager-next" id="Next"
                       [hidden]="buttonStates?.nextDisabled"
                       (click)="onNextClicked($event)"
                       aria-label="Next">
                        Next
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>