version: '2.1'

services:
  sql.data:
    environment:
      - ACCEPT_EULA=Y

  catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionString=Server=sql.data;Database=Microsoft.eShopOnContainers.Services.CatalogDb;User Id=sa;Password=Pass@word
      #- ExternalCatalogBaseUrl=http://13.88.8.119:5101   #Remote: VM Needs to have public access at 5105. 
      - ExternalCatalogBaseUrl=http://localhost:5101    #Local: You need to open your local dev-machine firewall at range 5100-5105.  at range 5100-5105.
    ports:
      - "5101:5101"

  catalog.webforms:
    ports:
      - "80"
networks:
  default:
    external:
      name: nat
