<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.6.0.12-beta" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="xamarinios10" />
  <package id="xunit" version="2.2.0-beta4-build3444" targetFramework="xamarinios10" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="xamarinios10" />
  <package id="xunit.assert" version="2.2.0-beta4-build3444" targetFramework="xamarinios10" />
  <package id="xunit.core" version="2.2.0-beta4-build3444" targetFramework="xamarinios10" />
  <package id="xunit.extensibility.core" version="2.2.0-beta4-build3444" targetFramework="xamarinios10" />
  <package id="xunit.extensibility.execution" version="2.2.0-beta4-build3444" targetFramework="xamarinios10" />
  <package id="xunit.runner.devices" version="2.1.0" targetFramework="xamarinios10" />
  <package id="xunit.runner.utility" version="2.2.0-beta4-build3444" targetFramework="xamarinios10" />
</packages>