<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.5" targetFramework="xamarinios10" />
  <package id="IdentityModel" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="SlideOverKit" version="2.1.5" targetFramework="xamarinios10" />
  <package id="Splat" version="2.0.0" targetFramework="xamarinios10" />
  <package id="System.AppContext" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Console" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.7" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.3.4" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.0.0.482510" targetFramework="xamarinios10" />
  <package id="xunit" version="2.3.1" targetFramework="xamarinios10" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="xamarinios10" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="xamarinios10" />
  <package id="xunit.assert" version="2.3.1" targetFramework="xamarinios10" />
  <package id="xunit.core" version="2.3.1" targetFramework="xamarinios10" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="xamarinios10" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="xamarinios10" />
  <package id="xunit.runner.devices" version="2.3.3" targetFramework="xamarinios10" />
</packages>