<header class="navbar navbar-light navbar-static-top">
    <div class="container">
        <nav>
            <div class="clearfix">
                <!--<button class="navbar-toggler float-xs-right hidden-sm-up collapsed" type="button" data-toggle="collapse" data-target="#bd-main-nav"
                    aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
                    ☰
                </button>
                <a class="navbar-brand hidden-sm-up header-brand" routerLink="home">
                    Ng2fbBootstrap
                    <img src="../../../images/brand.png" />
                </a>-->
            </div>
            <div class="" id="bd-main-nav" aria-expanded="false" style="height: 0px;">
                <a class="navbar-brand" routerLink="home">
                    <img src="../../../images/brand.png" />
                </a>
                <!--<ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLinkActive="active" routerLink="examples">Examples</a>
                    </li>
                    <li>
                        <ul class="nav float-xs-left float-md-right">

                            <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.user()">
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="profile">
                                    <i class="fa fa-user"></i> {{authService.user().displayName}}
                                </a>
                            </li>

                            <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="register">
                                    <i class="fa fa-user"></i> Register
                                </a>
                            </li>

                            <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="login">
                                    <i class="fa fa-sign-in"></i>Login
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.user()?.roles?.indexOf('Admin') > -1">
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="admin">
                                    <i class="fa fa-gear"></i> Admin
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                                <a class="nav-item nav-link" (click)="authService.logout()" routerLinkActive="active" href="javascript:void(null);">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>-->
            </div>
        </nav>
    </div>
</header>