<div class="esh-order-header">
    <ul class="container">
        <li class="esh-order-header-back" routerLink="/catalog">Back to list</li>
    </ul>
</div>
<div class="container esh-order-container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="esh-order-product-column">
                                PRODUCT
                            </th>
                            <th>

                            </th>
                            <th>
                                BRAND
                            </th>
                            <th>
                                PRICE
                            </th>
                            <th>
                                QUANTITY
                            </th>
                            <th>
                                COST
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order?.items">
                            <td class="esh-order-product-column"><img class="esh-order-product-image" src="{{item.pictureUrl}}" /></td>
                            <td class="esh-order-product-column">{{item.productName}}</td>
                            <td class="esh-order-product-column">ROSLYN</td>
                            <td class="esh-order-product-column">$ {{item.unitPrice}}</td>
                            <td class="esh-order-product-column">
                                <input type="number" style="width:100px" min="1" [(ngModel)]="item.quantity" (change)="itemQuantityChanged(item)" />
                            </td>
                            <td class="esh-order-product-column esh-order-total-value">$ {{item.unitPrice * item.quantity}}</td>
                        </tr>
                        <tr class="esh-order-totals">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="esh-order-total-value">
                                    <div class="esh-order-total-label"><span>TOTAL</span></div>
                                    <span>$ {{totalPrice}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>