@{
    ViewData["Title"] = "Home Page";
    @model Microsoft.eShopOnContainers.WebMVC.Models.HomeViewModels.IndexViewModel
}

<div class="container-fluid">
    <div class="row home-banner">
        <div class="container home-banner-text"><img src="~/images/main_banner_text.png" /></div>
    </div>

    <div class="home-catalog-filter-container">
        <div class="container">
            @*<ul class="nav navbar-nav col-sm-6 home-catalog-filter-brands">
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="btn-bracketed">ALL</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About" class="btn-bracketed">AZURE</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="btn-bracketed">.NET</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Orders" class="btn-bracketed">LOREM</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Orders" class="btn-bracketed">IPSUM</a></li>
            </ul>
            <ul class="nav navbar-nav col-sm-6 home-catalog-filter-types">
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="btn-bracketed">ALL</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About" class="btn-bracketed">T-SHIRT</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="btn-bracketed">STICKER</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Orders" class="btn-bracketed">MUGS</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Orders" class="btn-bracketed">SWEATSHIRT</a></li>
            </ul>*@
            <div data-name="brand" class="select-filter-wrapper">
                <img src="~/images/arrow-down.png" class="select-filter-arrow" />
                <select asp-for="BrandFilterApplied" asp-items="Model.Brands" class="select-filter" >
                    <option>ALL</option>
                </select>
            </div>
            <div data-name="type" class="select-filter-wrapper">
                <img src="~/images/arrow-down.png" class="select-filter-arrow" />
                <select asp-for="TypesFilterApplied" asp-items="Model.Types" class="select-filter">
                    <option>ALL</option>
                </select>
            </div>
            <a asp-area="" asp-controller="Home" asp-action="About" class="btn-brand btn-brand-small btn-brand-small-filter">
                APPLY
            </a>
        </div>
    </div>
</div>

<div class="container home-catalog-container">
    <div class="row">
        @foreach (var catalogItem in Model.CatalogItems)
        {
            <div class="col-sm-4 home-catalog-item">
                <div class="home-catalog-item-image" >
                    <img src="~/images/product_temp.PNG" />
                    <a asp-area="" asp-controller="Home" asp-action="About" class="btn-brand home-catalog-item-image-addCart">
                        ADD TO CART
                    </a>
                </div>
                <div class="home-catalog-item-title">
                    <span>@catalogItem.Name</span>
                </div>
                <div class="home-catalog-item-price">
                    <span>@catalogItem.Price.ToString("N2")</span>
                </div>
            </div>
        }
    </div>
</div>

