apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "sql-data.fullname" . }}
  labels:
    app: {{ template "sql-data.name" . }}
    chart: {{ template "sql-data.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "sql-data.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "sql-data.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: ACCEPT_EULA
            value: "Y"
          - name: MSSQL_PID
            value: {{ .Values.inf.sql.common.pid }}
          - name: MSSQL_SA_PASSWORD
            value: {{ .Values.inf.sql.common.pwd }}
          ports:
            - name: http
              containerPort: 1433
              protocol: TCP
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
