@import '../../variables';

.esh-orders_new {
    min-height: 80vh;

    $header-height: 4rem;

    &-header {
        background-color: #00A69C;
        height: $header-height;
    }

    &-back {
        color: rgba($color-foreground-brighter, .4);
        line-height: $header-height;
        text-decoration: none;
        text-transform: uppercase;
        transition: color $animation-speed-default;

        &:hover {
            color: $color-foreground-brighter;
            transition: color $animation-speed-default;
        }
    }

    &-section {
        padding: 1rem 0;

        &--right {
            text-align: right;
        }
    }

    &-placeOrder {
        background-color: #83D01B;
        border: 0;
        border-radius: 0;
        color: #FFFFFF;
        display: inline-block;
        float: right;
        font-size: 16px;
        font-weight: normal;
        height: 45px;
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 10px 20px 10px 20px;
        text-align: center;
        text-transform: uppercase;
        width: 255px;
    }

    &-titles {
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    &-title {
        font-size: $font-size-l;
    }

    &-items {
        &--border {
            border-bottom: $border-light solid $color-foreground-bright;
            padding: .5rem 0;

            &:last-of-type {
                border-color: transparent;
            }
        }
    }

    $item-height: 8rem;

    &-item {
        font-size: $font-size-m;
        font-weight: $font-weight-semilight;

        &--middle {
            line-height: $item-height;

            @media screen and (max-width: $media-screen-s) {
                line-height: $font-size-m;
            }
        }

        &--mark {
            color: $color-secondary;
        }
    }

    &-image {
        height: $item-height;
    }
}


@media screen and (min-width: 992px) {
    .form-input {
        max-width: 360px;
        width: 360px;
    }
}

.form-input {
    border-radius: 0;
    height: 45px;
    padding: 10px;
}

.form-input-small {
    max-width: 100px !important;
}

.form-input-medium {
    width: 150px !important;
}

.alert {
    padding-left: 0;
}

.alert-danger {
    background-color: transparent;
    border: 0;
    color: #FB0D0D;
    font-size: 12px;
}
