@import '../../_variables.scss';

.esh-orders_new {
    min-height: 80vh;

    $header-height: 4rem;

    &-header {
        background-color: #00A69C;
        height: $header-height;
    }

    &-back {
        color: rgba($color-foreground-brighter, .4);
        line-height: $header-height;
        text-transform: uppercase;
        text-decoration: none;
        transition: color $animation-speed-default;

        &:hover {
            color: $color-foreground-brighter;
            transition: color $animation-speed-default;
        }
    }

    &-section {
        padding: 1rem 0;

        &--right {
            text-align: right;
        }
    }

    &-placeOrder {
        float: right;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #83d01b;
        color: #fff;
        padding: 10px 20px 10px 20px;
        border-radius: 0;
        border: none;
        width: 255px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        height: 45px;
        font-size: 16px;
        font-weight: normal;
    }
}


@media screen and (min-width: 992px) {
    .form-input {
        width: 360px;
        max-width: 360px;
    }
}

.form-input {
    border-radius: 0;
    padding: 10px;
    height: 45px;
}

.form-input-small {
    max-width: 100px!important;
}

.form-input-medium {
    width: 150px!important;
}
