.identity {
    &-user {
        position: absolute !important;
        top: 30px;
        right: 120px;
        cursor: pointer;

        &:hover .identity-userDropdown {
            display: block;
        }
    }

    &-userDropdown {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: -15px;
        z-index: 3;

        &:hover {
            display: block;
        }

        & div {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: right;
            text-transform: uppercase;

            &:hover {
                color: #83d01b;
            }
        }
    }

    &-downArrow {
        height: 7px;
        width: 10px;
        display: inline-block;
        margin-left: 20px;

        &:hover > identity.userDropdown {
            display: block;
        }
    }

    &-login {
        border: 1px solid #00a69c;
        height: 36px !important;
        margin-right: 10px;
        margin-top: 10px;
        background-color: #fff;
        color: #00a69c;
        text-transform: uppercase;
        max-width: 140px;
        width: 140px;
        padding-top: 8px !important;
    }
}
