<button *ngIf="!authenticated" class="identity-login" (click)="login()">Login</button>
<div *ngIf="authenticated" class="identity-user">
    <div><span>{{userName}}</span></div><div style="float: right;top: 0;right: -15px;position: absolute;"><img src="../../../../images/arrow-down.png" class="identity-downArrow"></div>
    <div class="identity-userDropdown">
        <div [routerLink]="['orders']">MY ORDERS<img src="../../../../images/my_orders.png"></div>
        <div (click)="logoutClicked($event)">LOG OUT<img src="../../../../images/logout.png"></div>
    </div>
</div>
