<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="54687c57-08ec-4504-8060-f36bcb62ddcf" Publisher="CN=jsuarez" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="54687c57-08ec-4504-8060-f36bcb62ddcf" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>eShopOnContainers.UWP</DisplayName>
    <PublisherDisplayName>jsuarez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="eShopOnContainers.UWP.App">
      <uap:VisualElements DisplayName="eShopOnContainers" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="eShopOnContainers Xamarin UWP" BackgroundColor="#00A69C">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="eShopOnContainers">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00A69C" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>