@using Microsoft.eShopOnContainers.WebMVC.Services
@using Microsoft.eShopOnContainers.WebMVC.ViewModels

@model Microsoft.eShopOnContainers.WebMVC.ViewModels.Basket
@inject IIdentityParser<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Cart";
}

<form method="post" id="cartForm">
    <div class="esh-basket">
        @Html.Partial("_Header", new List<Header>() {
            new Header() { Controller = "Catalog", Text = "Back to catalog" } })

        @await Component.InvokeAsync("CartList", new { user = UserManager.Parse(User) })
    </div>
</form>
