@import '../../_variables.scss';

.esh-basketstatus {
    float: right;
    position: relative;

    &-image {
        height: 36px;
        margin-top: .5rem;
    }

    &-badge {
        $size: 1.5rem;
        background-color: $color-secondary;
        border-radius: 50%;
        color: $color-foreground-brighter;
        display: block;
        height: $size;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 0;
        transform: translateX(-38%);
        width: $size;
    }
}
