@import '../../_variables.scss';

.esh-basketstatus {

    &-image {
        height: 36px;
        margin-top: 5px;
    }

    &-badge {
        position: absolute;
        margin-top: 2px;
        margin-left: 14px;
        background-color: #83d01b;
        padding: 1px;
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 12px;
        cursor: pointer;
        top: 0;
    }
}
