.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
*.md
hosts
LICENSE
*.testsettings
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
global.json
**/appsettings.localhost.json
Web/WebSPA/wwwroot/
packages/
test-results/
TestResults/
Mobile/
Services/Marketing/Infrastructure/