@model Microsoft.eShopOnContainers.WebMVC.Models.Order

@{
    ViewData["Title"] = "My Cart";
}

<div class="brand-header-block">
    <ul class="container">
        <li class="brand-header-back"><a asp-area="" asp-controller="Home" asp-action="Index">Back to list</a></li>
    </ul>
</div>
<div class="container cart-index-container">
    <div class="row">
        <div class="col-md-offset-8 col-md-4">
            <a asp-controller="Home" asp-action="Index" class="btn btn-default btn-brand btn-brand-dark btn-cart">&nbsp;Continue Shopping&nbsp;</a>
        </div>
        <br /><br /><br /><br />
        <div class="col-md-12">
            <section>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                PRODUCT
                            </th>
                            <th>

                            </th>
                            <th>
                                BRAND
                            </th>
                            <th>
                                PRICE
                            </th>
                            <th>
                                QUANTITY
                            </th>
                            <th>
                                FINAL PRICE
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @await Component.InvokeAsync("Cart")
                    </tbody>
                </table>
            </section>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div class="col-md-offset-8 col-md-4">
            <a asp-controller="Order" asp-action="Create" class="btn btn-default btn-brand btn-cart">&nbsp;CheckOut&nbsp;</a>
        </div>
    </div>
</div>
