@model Microsoft.eShopOnContainers.WebMVC.Models.OrderViewModels.CreateOrderViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "New Order";
}
<div class="brand-header-block">
    <ul class="container">
        <li class="brand-header-back"><a asp-area="" asp-controller="Cart" asp-action="Index">Back to cart</a></li>
    </ul>
</div>
<div class="container order-create-container">
    <form method="post" asp-controller="Order" asp-action="Create">
        <h4 class="order-create-section-title">SHIPPING ADDRESS</h4>
        <div class="form-horizontal row">
            <div class="form-group col-sm-6">
                <label asp-for="Order.ShippingAddress.Street" class="control-label form-label">Address</label>
                <input asp-for="Order.ShippingAddress.Street" class="form-control form-input" />
                <span asp-validation-for="Order.ShippingAddress.Street" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Order.ShippingAddress.City" class="control-label form-label">City</label>
                <input asp-for="Order.ShippingAddress.City" class="form-control form-input" />
                <span asp-validation-for="Order.ShippingAddress.City" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Order.ShippingAddress.State" class="control-label form-label">State</label>
                <input asp-for="Order.ShippingAddress.State" class="form-control form-input" />
                <span asp-validation-for="Order.ShippingAddress.State" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Order.ShippingAddress.Country" class="control-label form-label">Country</label>
                <input asp-for="Order.ShippingAddress.Country" class="form-control form-input" />
                <span asp-validation-for="Order.ShippingAddress.Country" class="text-danger" />
            </div>
        </div>
        <br /><br />
        <div class="order-create-section-payment">
            <h4 class="order-create-section-title">PAYMENT METHOD</h4>
            <div class="form-horizontal row">
                <div class="form-group col-sm-6">
                    <label asp-for="Order.PaymentInfo.CardNumber" class="control-label form-label">Card Number</label>
                    <input asp-for="Order.PaymentInfo.CardNumber" class="form-control form-input" />
                    <span asp-validation-for="Order.PaymentInfo.CardNumber" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Order.PaymentInfo.CardHolderName" class="control-label form-label">Cardholder Name</label>
                    <input asp-for="Order.PaymentInfo.CardHolderName" class="form-control form-input" />
                    <span asp-validation-for="Order.PaymentInfo.CardHolderName" class="text-danger" />
                </div>
            </div>
            <div class="form-horizontal row">
                <div class="form-group col-sm-3">
                    <label asp-for="Order.PaymentInfo.Expiration" class="control-label form-label">Expiration Date</label>
                    <input asp-for="Order.PaymentInfo.Expiration" placeholder="MM/YY" class="form-control form-select" />
                    <span asp-validation-for="Order.PaymentInfo.Expiration" class="text-danger" />
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="Order.PaymentInfo.SecurityNumber" class="control-label form-label">Security Code</label>
                    <input asp-for="Order.PaymentInfo.SecurityNumber" class="form-control form-input form-input-small" />
                    <span asp-validation-for="Order.PaymentInfo.SecurityNumber" class="text-danger" />
                </div>
            </div>
        </div>
        <br /><br />
        <div class="col-md-12 order-create-section-items">
            <section>
                @await Component.InvokeAsync("CartList", new { user = await UserManager.GetUserAsync(User) })
            </section>
        </div>
        <div class="form-group">
            <div class="col-md-offset-8 col-md-4">
                <input type="submit" value="[ Place Order ]" name="action" class="btn btn-default btn-brand btn-cart" />
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
