@model Microsoft.eShopOnContainers.WebUI.ViewModels.CartViewModels.CartComponentViewModel

@{
    ViewData["Title"] = "My Favorites";
}

<div class="block-wishlist action">
                                    <a class="icon-link" href="wishlist.html">
                                    <i class="flaticon-heart"></i>
                                    <span class="count">0</span>
                                    <span class="text">
                                    <span class="sub">Favorite</span>
                                    My Wishlist </span>
                                    </a>
                                </div>

