<div class="esh-orders">
    <esh-header url="/catalog">Back to catalog</esh-header>

    <div class="container">
        <div class="alert alert-warning esh-orders-alert" role="alert" [hidden]="!errorReceived">
            Error requesting order list, please try later on
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <section class="esh-orders-title col-xs-2">Order number</section>
                        </th>
                        <th scope="col">
                            <section class="esh-orders-title col-xs-4">Date</section>
                        </th>
                        <th scope="col">
                            <section class="esh-orders-title col-xs-2">Total</section>
                        </th>
                        <th scope="col">
                            <section class="esh-orders-title col-xs-2">Status</section>
                        </th>
                        <th scope="col">
                            <section class="esh-orders-title col-xs-2"></section>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <th scope="row">
                            <section class="esh-orders-item col-xs-2">{{order.ordernumber}}</section>
                        </th>
                        <td>
                            <section class="esh-orders-item col-xs-4">{{order.date | date:'short'}}</section>
                        </td>
                        <td>
                            <section class="esh-orders-item col-xs-2">$ {{order.total}}</section>
                        </td>
                        <td>
                            <section class="esh-orders-item col-xs-2">{{order.status}}</section>
                        </td>
                        <td>
                            <section class="esh-orders-item col-xs-2">
                                <a class="esh-orders-link" routerLink="/orders/{{order.ordernumber}}">Detail</a>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>