<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Servers>
    <MvcWebServer url="http://localhost:5100" />
    <CatalogApiServer url="http://localhost:5101" />
    <OrderingApiServer url="http://localhost:5102" />
    <BasketApiServer url="http://localhost:5103" />
    <IdentityApiServer url="http://localhost:5105" />
    <LocationsApiServer url="http://localhost:5109" />
    <MarketingApiServer url="http://localhost:5110" />
  </Servers>
  <ApiVersion value="v1"/>
  <ClientId value="mvctest" />
  <RequestId value="73f9ee11-e373-4ce0-a557-6d4d8f8f44db"/>
  <Users>
    <User email="demouser@microsoft.com" password="Pass@word1" id="1234" />
  </Users>
</configuration>